.main {
  font-size: 50px;
  padding: 30px 30px;
  background-color: rgb(235, 235, 250);
}

nav {
  text-align: center;
}

.main--first-line {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.main--second-line {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

footer {
  text-align: center;
  padding: 30px;
}